.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns.cool > div > .columns-img-col img {
  /* display: block; */
  width: 40%;
  padding: 20px;
}

@media (width >= 900px) {
  .columns > div {
    /* align-items: center; */
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.section.cool.columns-container {
  background-color: var(--light-color);
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-top: 30px;
}

main .section.highlight.columns-container img {
  width: 50%;
}
